<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/done">
        <input type="text" name="category" id="" placeholder="category">
        <input type="text" name="question" id="" placeholder="question">
        <input type="text" name="link" id="" placeholder="link">
        <input type="text" name="notes" id="" placeholder="notes">
        <button>save</button>
    </form>
</body>
</html>